node_modules
.env

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

.DS_Store
package-lock.json

typechain
typechain-types

# TypeScript build output
dist/

# Hardhat files
cache
ignition/deployments

# Local artifacts
artifacts
artifacts/*

*.dbg.json

# Don't want to cache the localhost deployment
deployments/localhost
deployments/hardhat
deployments/**/solcInputs

deployments/test-tokens/localhost
deployments/test-tokens/hardhat
deployments/test-tokens/**/solcInputs

# Yarn files
.yarn/*
!.yarn/releases
!.yarn/plugins
**/.yarn/*
!**/.yarn/releases
!**/.yarn/plugins


# Plandex AI CLI tool
.plandex

.tmp

# Local state
state/

# This data is only for analysis purposes
remote-state/

# Script outputs
contract-addresses_*.md

# Tenderly analysis reports
reports/

# Docker image
liquidator-bot-image/*
# Exclude materials directory
!liquidator-bot-image/materials
